#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    cursor:pointer;
    text-align: center;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  #customers tr:nth-child(odd){background-color: #979797;}
  
  #customers tr:hover {background-color: #f2f2f2;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    text-align: center;
  }

  #customers td a{
      text-decoration: none;
      color: black;
  }

  .btn{
      margin-left: auto;
      margin-right: auto;
  }

  #button1 {
    margin-left: 703px;
    margin-top: 21px;
  }

  /* Card */

  .card {
    
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-top: 60px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
   
  }

  h2{
    color: #f2f2f2;
    margin-left: 50px;

  }
